
.general__container{
    display: grid;
    grid-template-columns: 90px 1fr;

    height: 100vh;
    width: 100vw;
    
    position: relative;
}


.general__carouselContainer{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.general__CarouselImg{
    // background-image: url('https://firebasestorage.googleapis.com/v0/b/prueba-32329.appspot.com/o/aceite2.jpg?alt=media&token=234a3e18-6e93-4f0a-9c2a-0ad83de6719b');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.carousel-caption h2, .carousel-caption p{
    background: #0000008a;
}
.carousel-caption p{
    font-size: 22px;
}


.mainScreen__parallaxContainer{
    margin-top: 30px;
}


.pointer {cursor: pointer;}



////////////////////////////////////////////////////////////////////////////777
// FRELLA LOGO INICIO
////////////////////////////////////////////////////////////////////////////777
.general__frellaNatContainer{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
}

.general__frellaNatWrapp {
    // transform: rotate(-90deg);
    position: absolute;
}
.general__frella{
    font-size: 28px;
    letter-spacing: 8px;
}
.general__natural {
    font-size: 12px;
    letter-spacing: 3px;
    margin-top: -8px;
    position: relative;
    left: 80px;
}
////////////////////////////////////////////////////////////////////////////777
// FRELLA LOGO FIN
////////////////////////////////////////////////////////////////////////////777



////////////////////////////////////////////////////////////////////////////777
// PARALLAX INICIO
////////////////////////////////////////////////////////////////////////////777
.general__parallax {
    /* The image used */
    // background-image: url("https://firebasestorage.googleapis.com/v0/b/prueba-32329.appspot.com/o/aceite2.jpg?alt=media&token=234a3e18-6e93-4f0a-9c2a-0ad83de6719b");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
////////////////////////////////////////////////////////////////////////////777
// PARALLAX FIN
////////////////////////////////////////////////////////////////////////////777




////////////////////////////////////////////////////////////////////////////777
// Modal registro y login 
////////////////////////////////////////////////////////////////////////////777
.general__modalRegisterLogin {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    height: calc(100% - 60px);
    width: 30%;
    margin-bottom: 30px;
    // margin-top: 30px;
    // max-height: 620px;
    max-width: 900px;
    max-height: 700px;
    outline: none;
    padding: 10px;
    z-index: 3000;

    
    border-top: 10px solid $primary;
    // border-bottom: 10px solid $primary;

}
// ¿
// .modal-body{
//     width: 100%;
//     display: flex;
//     grid-gap: 20px;
//     gap: 20px;
//     position: fixed;
//     flex-direction: column;
//     align-items: center;
//     color: #cdcdcd;
//     padding: 10px;
//     padding-right: 20px;
//     justify-content: center;
//     height: calc(100% - 80px);
// }

////////////////////////////////////////////////////////////////////////////777
// Modal registro y login 
////////////////////////////////////////////////////////////////////////////777