


.greenBarIcons__Container{
    position: relative;
    width: 100%;
    height: 180px;
    background-color: $primary;

    display: flex;
    align-items: center;
}

.greenBarIcons__Wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


// ICONS
.greenBarIcons__ContainerIcons{
    width: 100px;
    height: 100px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
.greenBarIcons__iconCircle{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    color: #fff;
}

.greenBarIcons__textIconContainer{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greenBarIcons__whiteLine{
    width: 100px;
    background: #fff;
    height: 2px;
}
.greenBarIcons__textIconContainer p{
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}