
* {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;

    position: relative;
}

main{
    width: 100%;
}

h1, h2, h3, h4 ,h5 , h6{
    margin: 0px;
}

p {
    margin: 0px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1{
    margin-bottom: 5px;
}

.mb-5{
    margin-bottom: 20px;
}

.pointer{
    cursor: pointer;
}

.link{
    text-decoration:none !important;
    color: inherit;
    // text-decoration: inherit;

    &:hover{
        color: inherit;
        text-decoration: inherit;
    }
}

.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}


.colorTextPrimary {
    color: $primary;
}


/////////////////////////////////////////////////////
// Scroll
/////////////////////////////////////////////////////

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

////////////////////////////////////////////////////////////
// Scroll fin
/////////////////////////////////////////////////////


.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 900px;
    outline: none;
    padding: 10px;
    z-index: 3000;
}
.modal-fondo {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}
.modal-body{
    width: 100%;
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    color: #cdcdcd;
    padding: 10px;
    padding-right: 20px;
    justify-content: center;
    height: calc(100% - 80px);
}



// MATERIAL ICONS SIZE
.iconSize-18 { font-size: 18px; }
.iconSize-19 { font-size: 19px; }
.iconSize-20 { font-size: 20px; }
.iconSize-21 { font-size: 21px; }
.iconSize-22 { font-size: 22px; }
.iconSize-23 { font-size: 23px; }
.iconSize-24 { font-size: 24px; }
.iconSize-25 { font-size: 25px; }
.iconSize-26 { font-size: 26px; }
.iconSize-27 { font-size: 27px; }
.iconSize-28 { font-size: 28px; }
.iconSize-29 { font-size: 29px; }
.iconSize-30 { font-size: 30px; }
.iconSize-31 { font-size: 31px; }
.iconSize-32 { font-size: 32px; }
.iconSize-33 { font-size: 33px; }
.iconSize-34 { font-size: 34px; }
.iconSize-35 { font-size: 35px; }
.iconSize-36 { font-size: 36px; }
.iconSize-37 { font-size: 37px; }
.iconSize-38 { font-size: 38px; }
.iconSize-39 { font-size: 39px; }
.iconSize-40 { font-size: 40px; }
.iconSize-41 { font-size: 41px; }
.iconSize-42 { font-size: 42px; }
.iconSize-43 { font-size: 43px; }
.iconSize-44 { font-size: 44px; }
.iconSize-45 { font-size: 45px; }
.iconSize-46 { font-size: 46px; }
.iconSize-47 { font-size: 47px; }
.iconSize-48 { font-size: 48px; }
.iconSize-49 { font-size: 49px; }
.iconSize-50 { font-size: 50px; }
.iconSize-51 { font-size: 51px; }
.iconSize-52 { font-size: 52px; }
.iconSize-53 { font-size: 53px; }
.iconSize-54 { font-size: 54px; }
.iconSize-55 { font-size: 55px; }
.iconSize-56 { font-size: 56px; }
.iconSize-57 { font-size: 57px; }
.iconSize-58 { font-size: 58px; }
.iconSize-59 { font-size: 59px; }
.iconSize-60 { font-size: 60px; }
.iconSize-62 { font-size: 62px; }
.iconSize-64 { font-size: 64px; }
.iconSize-66 { font-size: 66px; }
.iconSize-68 { font-size: 68px; }
.iconSize-70 { font-size: 70px; }
.iconSize-72 { font-size: 72px; }
.iconSize-74 { font-size: 74px; }
.iconSize-76 { font-size: 76px; }
.iconSize-78 { font-size: 78px; }
.iconSize-80 { font-size: 80px; }
.iconSize-82 { font-size: 82px; }
.iconSize-84 { font-size: 84px; }
.iconSize-86 { font-size: 86px; }
.iconSize-88 { font-size: 88px; }
.iconSize-90 { font-size: 90px; }
.iconSize-92 { font-size: 92px; }
.iconSize-94 { font-size: 94px; }
.iconSize-96 { font-size: 96px; }
.iconSize-98 { font-size: 98px; }
.iconSize-100 { font-size: 100px; }
