
* {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;

    position: relative;
}

main{
    width: 100%;
}

h1, h2, h3, h4 ,h5 , h6{
    margin: 0px;
}

p {
    margin: 0px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1{
    margin-bottom: 5px;
}

.mb-5{
    margin-bottom: 20px;
}

.pointer{
    cursor: pointer;
}

.link{
    text-decoration:none !important;
    color: inherit;
    // text-decoration: inherit;

    &:hover{
        color: inherit;
        text-decoration: inherit;
    }
}


.colorTextPrimary {
    color: $primary;
}




// MATERIAL ICONS SIZE
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-19 { font-size: 19px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-21 { font-size: 21px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-23 { font-size: 23px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-25 { font-size: 25px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-27 { font-size: 27px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-29 { font-size: 29px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-31 { font-size: 31px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-33 { font-size: 33px; }
.material-icons.md-34 { font-size: 34px; }
.material-icons.md-35 { font-size: 35px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-37 { font-size: 37px; }
.material-icons.md-38 { font-size: 38px; }
.material-icons.md-39 { font-size: 39px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-41 { font-size: 41px; }
.material-icons.md-42 { font-size: 42px; }
.material-icons.md-43 { font-size: 43px; }
.material-icons.md-44 { font-size: 44px; }
.material-icons.md-45 { font-size: 45px; }
.material-icons.md-46 { font-size: 46px; }
.material-icons.md-47 { font-size: 47px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-49 { font-size: 49px; }
.material-icons.md-50 { font-size: 50px; }
.material-icons.md-51 { font-size: 51px; }
.material-icons.md-52 { font-size: 52px; }
.material-icons.md-53 { font-size: 53px; }
.material-icons.md-54 { font-size: 54px; }
.material-icons.md-55 { font-size: 55px; }
.material-icons.md-56 { font-size: 56px; }
.material-icons.md-57 { font-size: 57px; }
.material-icons.md-58 { font-size: 58px; }
.material-icons.md-59 { font-size: 59px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-62 { font-size: 62px; }
.material-icons.md-64 { font-size: 64px; }
.material-icons.md-66 { font-size: 66px; }
.material-icons.md-68 { font-size: 68px; }
.material-icons.md-70 { font-size: 70px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-74 { font-size: 74px; }
.material-icons.md-76 { font-size: 76px; }
.material-icons.md-78 { font-size: 78px; }
.material-icons.md-80 { font-size: 80px; }
.material-icons.md-82 { font-size: 82px; }
.material-icons.md-84 { font-size: 84px; }
.material-icons.md-86 { font-size: 86px; }
.material-icons.md-88 { font-size: 88px; }
.material-icons.md-90 { font-size: 90px; }
.material-icons.md-92 { font-size: 92px; }
.material-icons.md-94 { font-size: 94px; }
.material-icons.md-96 { font-size: 96px; }
.material-icons.md-98 { font-size: 98px; }
.material-icons.md-100 { font-size: 100px; }
